.about {
  margin-left: 3%;
  margin-top: 2%;
  color: white;
}

.icon1 {
  width: 15px;
  height: 20px;
  fill: gray;
  margin-top: 2px;
  margin-left: 17px;
  margin-right: 2px;
}
.icon2 {
  width: 20px;
  height: 20px;
  fill: gray;
  margin-top: 2px;
  margin-left: 5px;
}
.icon3 {
  width: 20px;
  height: 20px;
  fill: gray;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 4px;
}
.icon4 {
  width: 20px;
  height: 20px;
  fill: gray;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 4px;
}

.iconcontainer {
  display: inline-block;
  margin-top: 1.4%;
}

.icondetails {
  vertical-align: top;
  color: gray;
}

.fans {
  margin-left: 3%;
  margin-top: 1.4%;
  display: inline-block;
}

.followCount {
  color: white;
  font-weight: bold;
}
.followText {
  color: gray;
  font-size: small;
}

@media screen and (max-width: 600px) {
  .icondetails {
    font-size: small;
  }
  .about {
    font-size: small;
  }
  .icon4 {
    margin-left: 15px;
  }
  .followCount {
    font-size: small;
  }
}
