.card {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: rgb(24, 24, 26);
  display: inline-block;
  width: 65%;
  margin-left: 7%;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin: 1rem 0;
    border-radius: 0;
    background-color: black;
  }
}
