.block {
  display: block;
  border-radius: 15px;
  padding: 4px 15px;
  border: 1px solid white;
  color: #1da1f2;
  font-weight: bold;
  background-color: inherit;
  margin-bottom: 15px;
}
.block1 {
  display: inline-block;
  border-radius: 7px;
  padding: 4px 1px;
  border: none;
  color: #1da1f2;
  font-weight: bold;
  background-color: inherit;
  margin-bottom: 7px;
  vertical-align: top;
  margin-top: 3.5px;
  margin-left: 5px;
}

.components {
  display: inline-block;
  width: 85%;
}
.image {
  display: inline-block;
  vertical-align: top;
}

.text {
  display: block;
  width: 100%;
  border: none;
  background-color: inherit;
  font-size: 1.2rem;
  outline: none;
  resize: none;
  color: white;
  margin-bottom: 6px;
}

.tweetDiv {
  width: 100%;
  border-bottom: 1px solid rgba(78, 78, 78, 0.5);
}

.tweet {
  display: inline-block;
  padding: 9px 18px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: #1da1f2;
  margin-top: 7px;
}
.iconContainer {
  display: inline-block;
}
.iconContainer > input {
  display: none;
  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
  fill: #1da1f2;
  margin-top: 7px;
}
.icon2 {
  width: 15px;
  height: 15px;
  fill: #1da1f2;
  margin-top: 7px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pfp {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin: 10px;
  margin-left: 12px;
}

.preview img {
  width: 100%;
  border-radius: 14px;
}

.imageCancel {
  position: absolute;
  background-color: rgb(62, 61, 61);
  color: white;
  width: 20px;
  margin: 1%;
  border-radius: 50%;
  padding: 6px;
  text-align: center;
  cursor: pointer;
}

.imageCancel:hover {
  background-color: rgb(85, 83, 83);
}
.backicon {
  width: 20px;
  height: 20px;
  fill: white;
}

.back {
  margin-left: 3%;
  vertical-align: top;
  margin-top: 2.5%;
  padding-right: 1%;
  padding-left: 0.5%;
  border-radius: 50%;
  padding-top: 0.5%;
}

@media screen and (max-width: 600px) {
  .actionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 3%;
  }
  .tweet {
    padding: 5px 15px;
  }
  .tweet a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  .components {
    width: 100%;
  }
  .tweetDiv {
    width: 75%;
    margin: 5% 2% 0 20%;
  }

  .block {
    border: 1px solid gray;
    margin-bottom: 12%;
  }

  .text {
    height: 85px;
  }

  .container {
    width: fit-content;
    margin-left: 20%;
  }
}
