.pfp {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin: 10px;
  margin-left: 12px;
}
.pfpdiv {
  display: inline-block;
}
.showtweets {
  border-top: 1px solid rgba(105, 105, 105, 0.5);
  border-bottom: 1px solid rgba(105, 105, 105, 0.5);
  padding: 12px;
  margin-top: 10px;
  width: 100%;
}
.show {
  margin-left: 40%;
  padding: 10px;
}
.tweetpic {
  width: 62%;
  height: 500px;
  border-radius: 20px;
  margin-left: 16%;
}

.name {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  width: 80%;
}
.name1 {
  font-weight: bold;
  margin-left: 10px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
}

.tweet {
  margin-left: 10px;
}
.username {
  color: gray;
  opacity: 0.5;
  font-weight: lighter;
}

.container {
  border-bottom: 1px solid rgba(105, 105, 105, 0.5);
}

.info {
  color: gray;
  font-size: small;
  font-weight: bold;
}

.infoContainer {
  margin-left: 7%;
  margin-top: 1.5%;
}

.interactionIcon {
  fill: gray;
  width: 18px;
  height: 22px;
}
.commentIcon {
  fill: gray;
  width: 18px;
  height: 22px;
}
.retweetIcon {
  fill: gray;
  width: 18px;
  height: 22px;
}

.likeIcon {
  stroke: gray;
  width: 18px;
  height: 22px;
  stroke-width: 2px;
}
.commentIconContainer {
  display: inline-block;
  padding: 4px 5px 0 5px;
  border-radius: 50%;
}
.retweetIconContainer {
  display: inline-block;
  padding: 4px 5px 0 5px;
  border-radius: 50%;
}
.likeIconContainer {
  display: inline-block;
  padding: 4px 5px 0 5px;
  border-radius: 50%;
}
.interactionIconContainer {
  display: inline-block;
  padding: 4px 5px 0 5px;
  border-radius: 50%;
}

.majorIconContainer {
  display: flex;
  justify-content: space-between;
  margin: 1% 16%;
}
.majorIconContainer button {
  background-color: inherit;
}

.commentCounter {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  color: gray;
  font-size: small;
  margin-top: 8px;
}
.retweetCounter {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  color: gray;
  font-size: small;
  margin-top: 8px;
}
.likeCounter {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  color: gray;
  font-size: small;
  margin-top: 8px;
}
.mainContainer {
  border: none;
}
.mainContainer:hover .commentIcon {
  fill: #1da1f2;
  transition: 0.2s ease;
}
.mainContainer:hover .commentCounter {
  color: #1da1f2;
  transition: 0.2s ease;
}
.mainContainer:hover .commentIconContainer {
  background-color: #1da1f220;
  transition: 0.2s ease;
}

.mainContainer:hover .retweetIcon {
  fill: #3faf83;
  transition: 0.2s ease;
}
.mainContainer:hover .retweetCounter {
  color: #3faf83;
  transition: 0.2s ease;
}
.mainContainer:hover .retweetIconContainer {
  background-color: #3faf8335;
  transition: 0.2s ease;
}

.mainContainer:hover .likeIcon {
  stroke: #cb3262;
  transition: 0.2s ease;
}
.likeIcon:focus {
  fill: #cb3262;
  transition: 0.2s ease;
}
.mainContainer:hover .likeCounter {
  color: #cb3262;
  transition: 0.2s ease;
}
.mainContainer:hover .likeIconContainer {
  background-color: #cb326235;
  transition: 0.2s ease;
}

.mainContainer:hover .interactionIcon {
  fill: #1da1f2;
  transition: 0.2s ease;
}

.mainContainer:hover .interactionIconContainer {
  background-color: #1da1f230;
  transition: 0.2s ease;
}

.ellipsis {
  width: 15px;
  height: 15px;
  fill: white;
}
.nameContainer {
  display: inline-block;
}
.ellipsisContainer {
  display: inline-block;
  margin-right: 4%;
  border-radius: 50%;
  padding: 0.1% 1%;
}

.ellipsisContainer:hover {
  background-color: rgb(69, 66, 66);
  transition: 0.2s ease;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .showtweets {
    margin-top: 15%;
    margin-right: 10%;
    width: 89%;
  }

  .name {
    width: 73%;
    margin-left: 0.5%;
  }
  .tweetpic {
    width: 78%;
    height: 380px;
    border-radius: 20px;
    margin-left: 20%;
  }
  .majorIconContainer {
    margin-top: 1%;
    margin-left: 18%;
    width: 82%;
  }
  .mainContainer {
    border: none;
  }
  .tweet {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .showtweets {
    margin-top: 15%;
    margin-right: 10%;
  }

  .name {
    width: 73%;
    margin-left: 0.5%;
  }
  .tweetpic {
    width: 78%;
    height: 380px;
    border-radius: 20px;
    margin-left: 20%;
  }
  .majorIconContainer {
    margin-top: 1%;
    margin-left: 18%;
    width: 82%;
  }
  .mainContainer {
    border: none;
  }
  .tweet {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}
